@if (trendMovie) {
  <div class="main w-100 m-0 p-0 d-flex justify-content-start align-items-center"
  [style.background-image]="'url(' + tmdbService.getImageURL(trendMovie.poster_path!, 'original') + ')'" >
    <div class="ms-5 d-flex flex-column justify-content-start align-items-start w-25">
      <h1>{{trendMovie.title}}</h1>
      <div class="fs-5 text-white overflow-scroll overview">
        {{trendMovie.overview}}
      </div>
      <div class="d-flex mt-3">
        <a class="btn btn-lg btn-dark bg-white me-3 d-flex align-items-center px-4 py-2">
          <fa-icon class="me-3" icon="play" size="2x"></fa-icon>
          <div>Play</div>
        </a>
        <a class="btn btn-lg btn-light d-flex align-items-center px-4 py-2">
          <fa-icon class="me-3" icon="circle-info" size="2x"></fa-icon>
          <div (click)="tmdbService.openMoreInfos(trendMovie.id)">More Info</div>
        </a>
      </div>
    </div>
  </div>
}
